b,
strong,
.strong {
  @apply font-medium;
}

h1,
.h1 {
  font-family: 'Pattaya', serif;
  @apply font-light text-xl;
  font-size: 36px;
  line-height: 46px;
}
@media (min-width: 640px) {
  h1,
  .h1 {
    font-size: 52px;
    line-height: 64px;
    @apply text-xl;
  }
}

h2,
.h2 {
  @apply font-light text-lg;
  font-size: 28px;
  line-height: 40px;
}
@media (min-width: 640px) {
  h2,
  .h2 {
    @apply text-lg;
    font-size: 40px;
    line-height: 64px;
  }
}

h3,
.h3 {
  @apply text-base font-medium;
}

a {
  text-decoration: underline;
  @apply bg-cyan-100 hover:bg-cyan-500;
}
